Repository fattyageboy/BerthCare, changes with the owners that CODEOWNERS names for each.
All owners: @berthcare/tech-leads, @berthcare/mobile-team, @berthcare/backend-team, @berthcare/devops-team, @berthcare/design-team, @berthcare/product-team, @berthcare/security-team

CODEOWNERS:

# CODEOWNERS - Automatic code review assignments
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @berthcare/tech-leads

# Mobile application
/apps/mobile/ @berthcare/mobile-team @berthcare/tech-leads

# Backend services
/apps/backend/ @berthcare/backend-team @berthcare/tech-leads

# Shared libraries
/libs/ @berthcare/tech-leads

# Infrastructure and deployment
/terraform/ @berthcare/devops-team @berthcare/tech-leads
/.github/ @berthcare/devops-team @berthcare/tech-leads
/docker-compose.yml @berthcare/devops-team
/Dockerfile* @berthcare/devops-team

# Design documentation
/design-documentation/ @berthcare/design-team @berthcare/product-team

# Project documentation
/project-documentation/ @berthcare/tech-leads @berthcare/product-team

# Security-sensitive files
/.env.example @berthcare/security-team @berthcare/tech-leads
/SECURITY.md @berthcare/security-team

# Database migrations
/apps/backend/src/database/migrations/ @berthcare/backend-team @berthcare/tech-leads

# CI/CD workflows
/.github/workflows/ @berthcare/devops-team @berthcare/tech-leads

# Package dependencies
/package.json @berthcare/tech-leads
/apps/*/package.json @berthcare/tech-leads

docs: rename E1 completion summary to be more descriptive
  docs/E1-git-repository-initialization.md
Owners: @berthcare/tech-leads

docs: add E2 CI pipeline setup completion summary
  docs/E2-ci-pipeline-setup.md
Owners: @berthcare/tech-leads

feat: configure Nx monorepo structure
  .nxignore
  apps/.gitkeep
  docs/E3-monorepo-configuration.md
  docs/README.md
  jest.config.js
  jest.preset.js
  libs/shared/jest.config.ts
  libs/shared/package.json
  libs/shared/project.json
  libs/shared/tsconfig.json
  libs/shared/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
  tsconfig.json
Owners: @berthcare/tech-leads

chore: format task-plan.md
  project-documentation/task-plan.md
Owners: @berthcare/tech-leads, @berthcare/product-team

docs: add G1 backend scaffold PR template and completion summary
  .github/PULL_REQUEST_TEMPLATE/backend-scaffold-pr.md
  docs/G1-backend-scaffold-summary.md
Owners: @berthcare/devops-team, @berthcare/tech-leads

feat: add storage tests and improve test reliability
  .github/workflows/ci.yml
  apps/backend/jest.config.js
  apps/backend/src/middleware/rate-limiter.ts
  apps/backend/tests/auth.login.test.ts
  apps/backend/tests/setup.ts
  apps/backend/tests/storage.photo-storage.test.ts
  apps/backend/tests/storage.s3-client.test.ts
  libs/shared/jest.config.ts
  libs/shared/tests/auth-utils.test.ts
Owners: @berthcare/devops-team, @berthcare/tech-leads, @berthcare/backend-team
